<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>GEO LOCATION</title>
</head>

<body>
  <h1 class="text-center bg-dark text-light">UPDATE USER</h1>


  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form id="update_user" method="POST">
          <div class="mb-1">
            <input type="text" class="form-control" id="FirstName" name="FirstName"value="<%= user.FirstName %>" placeholder="First name">
          </div>
          <div class="mb-1">
            <input type="text" class="form-control" id="LastName" name="LastName" value="<%= user.LastName %>" placeholder="Last name">
          </div>
          <div class="mb-1">
            <input type="text" class="form-control" id="AddressLine1" name="AddressLine1" value="<%= user.AddressLine %>" placeholder="Address Line">
          </div>

          <div class="mb-1">
            <input type="text" class="form-control" id="City" name="City" value="<%= user.City %>" placeholder="City">
          </div>

          <div class="mb-1">
            <input type="text" class="form-control" id="Country" name="Country" value="<%= user.Country %>" placeholder="Country">
          </div>
          <div class="mb-1">
            <input type="text" class="form-control" id="Latitude" name="Latitude" value="<%= user.Location.coordinates[0] %>" placeholder="Latitude">
          </div>
          <div class="mb-1">
            <input type="text" class="form-control" id="Longtitude" name="Longtitude" value="<%= user.Location.coordinates[1] %>" placeholder="Longtitude">
          </div>
          <button type="submit" class="btn btn-success w-100">Update</button>
        </form>
      </div>
    </div>

    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="/javascripts/indexx.js"></script>

</body>

</html>